.checkout-bg {
  border: 1px solid #f8f8f8;
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  padding-top: 100px;
}

.details_bg {
  border: 1px solid#fff;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.form-control {
  font-size: 14px;
  height: 44px;
}

.checkout-input {
  color: #c3dcec;
}

.card-input {
  color: #c3dcec;
}

.cvv-input {
  color: #c3dcec;
}

.form-control:hover {
  border: 1px solid #ced4da;
}

.carddetails-bg {
  border: 1px solid #fff;
  width: 100%;
  height: 574px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 10px;
}

.form-check-inline {
  padding-left: 10px;
  margin-right: 5px;
}

.city {
  margin-top: 8px;
}
.gender {
  margin-top: 3px;
  margin-bottom: 8px;
}

.dateof {
  margin-bottom: 15px;
}

.selectdateoption {
  width: 80px;
  height: 45px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #495057;
}

.terms {
  color: #d66822;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid #d66822;
}

.save_details {
  border: 1px solid #d54f22;
  text-align: center;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 50px;
  margin-top: 14px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(214, 105, 34, 1) 0%,
    rgba(207, 67, 40, 1) 100%
  );
}

.payment-form-bg {
  border: 1px solid #f8f8f8;
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 100px;
}

.pay_for_bg {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.confirm-Booking {
  border: 1px solid #d54f22;
  text-align: center;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 50px;
  margin-top: 30px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(214, 105, 34, 1) 0%,
    rgba(207, 67, 40, 1) 100%
  );
}

@media screen and (max-width: 991px) {
  .carddetails-bg {
    margin-top: 40px;
  }
}

.final {
  font-size: 19px;
  margin-left: 8px;
}

.vaild {
  font-size: 14px;
  margin-left: 8px;
}

.order-heading {
  margin-left: 8px;
  padding-bottom: 10px;
}

.pricing {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 15px;
}

.rupees {
  color: #d66822;
  margin-left: 8px;
  font-size: 16px;
}

.remove {
  color: #d66822;
  margin-right: 15px;
  font-size: 14px;
}

.finals2 {
  margin-top: 30px;
  font-size: 19px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.Booking-free {
  display: flex;
  justify-content: space-between;
}

.delivery-free {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
}

.pric {
  margin-left: 8px;
  padding-top: 24px;
  font-weight: 500;
}

.free {
  margin-left: 8px;
  padding-top: 10px;
  font-weight: 500;
}

.form-check-inline {
  padding-left: 0px;
}

.deliv {
  margin-left: 8px;
  padding-top: 10px;
  font-weight: 500;
}

.tot {
  margin-left: 8px;
  padding-top: 10px;
  color: #d66822;
  font-weight: 500;
}

.rupee {
  padding-top: 10px;
  color: #d66822;
  margin-right: 15px;
  font-weight: 500;
}

.rupeps {
  padding-top: 24px;
  color: #d66822;
  margin-right: 15px;
  font-weight: 500;
}

.your-details {
  margin-bottom: 24px;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .city {
    margin-top: -25px;
  }
  .selectdateoption {
    width: 76px;
    font-size: 14px;
  }
}

@media screen and (max-width: 449px) {
  .details_bg {
    padding-left: 10px;
    padding-right: 20px;
  }

  .pay_for_bg {
    padding-left: 10px;
    padding-right: 20px;
  }
}
